@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>
        <style>
        .card {
            border: 3px  thick;
           
       
            margin: 12px;
            width: 250px;
        }
        .container{
            display:flex;
           
            justify-content:center;

        }
        .btn{
            border:groove;
            border-color:beige;
            margin: 10px 50px;
            width:150px;
           
           

        }
        .img-res{
           
            position:center;
            background-size:cover;
            border-radius:1px;
           
        }
        h1{
            border-radius: 3px;
            padding: 3px;
            margin:8px;
        }
        .card h3,h6,p{
            padding:3px;
           
        }
        .display-4{
            padding: 8px;
        }
        .card h4{
            text-align:center;
            margin:1px;
        }
        </style>
       
    </head>
    <body>

    <div class="text-center">
        <h1 class="display-4" style="background-color:lightgoldenrodyellow"><b>Welcome to Books Gallary</b></h1>
        <marquee width="60%" direction="right" height="100px" style="color:burlywood">
            World Best Books collection.
        </marquee>
    </div>
    <div>
        <p>
            Books are the world's largest repository of knowledge and information.
            Books have the solutions to every problem and are the best friends who will never leave anyone.
            Reading books from various genres helps us think and analyse in various ways.
        </p>
        <section class="container">
            <div class="card">
        <img src="https://www.marinevesseltraffic.com/Images/Wiki-Pictures/IMPA-Catalogue.jpg" alt="English book" class="img-res" width="250" height="250">
                <h4 style="color:burlywood">English book</h4>
                <a href="" class="btn" style="color:tomato"><strong>Start Exploring</strong></a>
            </div>

            <div class="card">
        <img src="https://10mag.com/wp-content/uploads/2010/02/8314929977_28fd740070_b.jpg" alt="Book1" class="img-res" width="250" height="250">
                <h4 style="color:burlywood">Book1</h4>
                <a href="" class="btn" style="color:tomato"><strong>Start Exploring</strong></a>
        </div>

            <div class="card">
                <img src="https://www.onlinebooksstore.in/pub/media/catalog/product/cache/dccee5904cdb6a57c3fab468b5e1db4e/1/_/1_6.jpg" alt="Hindi Book" class="img-res" width="250" height="250">
                <h4 style="color:burlywood">Hindi Book</h4>
                <a href="" class="btn" style="color:tomato"><strong>Start Exploring</strong></a>
            </div>
        </section>
    </div>
    <hr />

    <h1 style="color:peru"><strong>Shop By Category</strong></h1>
    <p>Browse through your favourite categories. We've got them all!</p>

    <div class="container">
        <div class="card">
            <img src="https://cdn.codegym.cc/images/article/bbcda54e-3cd0-4dac-a77a-447484b8b487/512.jpeg" alt="" class="img-res" width="250" height="150">
            <h3 class="mb-0" style="color:burlywood">Java book</h3>
            <h6 class="m-0" style="color:brown"> <span>&#8377;</span> 500.00 </h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus voluptatum illo quisquam ex sint labore.</p>
            <a href="" class="btn" style="color:crimson"><strong>Order Now</strong></a>

        </div>

        <div class="card">
            <img src="https://m.media-amazon.com/images/S/aplus-media/vc/6a9b3d0f-acd0-4735-b8ff-eb7f06029f5c.__CR0,0,300,300_PT0_SX300_V1___.jpg" alt="" class="img-res" width="250" height="150">
            <h3 class="mb-0" style="color:burlywood">Apptitude Book</h3>
            <h6 class="m-0" style="color:brown">&#8377 1191.00</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus voluptatum illo quisquam ex sint labore.</p>
            <a href="" class="btn" style="color:crimson"><strong>Order Now</strong></a>

        </div>

        <div class="card">
            <img src="https://blog.elmah.io/content/images/2020/04/csharp-7-in-a-nutshell.png" alt="" class="img-res" width="250" height="150">
            <h3 class="mb-0" style="color:burlywood">Earrings</h3>
            <h6 class="m-0" style="color:brown">&#8377; 899.00</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus voluptatum illo quisquam ex sint labore.</p>
            <a href="" class="btn" style="color:crimson"><strong>Order Now</strong></a>

        </div>
    </div>

   


    </body>

</html>